.menu-nav {
    list-style-type: none;
}

.o-flexy {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

div {
    width: 320px;
    padding: 10px;
    border: 5px solid green;
    margin: 0;
  }