.menu-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.o-flexy {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.mainDisplay {
    width: 320px;
    padding: 10px;
    border: 5px solid green;
    margin: 0;
}

.apiBorder {
    border:3px;
    border-style:solid;
    border-color: #FF0000;
    padding: 4px;
    border-radius: 15px
    
}

.displayList {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden; 
    overflow-y: scroll;
    height: 500px;
    width: 50%;
    gap: 10px;
}

.test {
  border: 4px;
}