#detailDisplayMatch {
    height: 475px;
    width: 49%;
    float:right;
    border:3px;
    border-style:solid;
    border-color: #FF0000;
}

.menu-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.o-flexy {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.mainDisplay {
    width: 320px;
    padding: 0px;
    border: 5px solid green;
    margin: 0;
}

.apiBorder {
    border:3px;
    border-style:solid;
    border-color: #FF0000;
    padding: 0px;
    border-radius: 15px
    
}

a.fillDiv {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.smallDisplayText {
    text-align:center;
}

.displayList {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden; 
    overflow-y: scroll;
    height: 475px;
    width: 49%;
    gap: 10px;
}

.flexParent {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height:476px;
    gap: 15px;
}

.test {
  border: 4px;
}